#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  color: #181018;
}

a {
  color: #F5FFF9;
}

img {
  max-width: 150px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0px; 
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #181018;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.account {
  min-height: fit-content;
}

.player-list {
  background-color: #04A246;
  width: 300px;
  padding: 15px;
  margin: 15px;
}

.player-list-card, .player-detail {
  background-color: #F5FFF9;
  border: 2px solid #181018;
  border-radius: 10px 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.player-list-data {
  margin: 20px;
}

.player-detail {
  min-width: 250px;
}

.player-detail-img {
  margin: 20px;
}

.player-detail-button-container {
  padding: 10px;
}

.account-data {
  margin: 20px;
}

.mb-3 {
  background-color: #181018;;
  border: 10px solid #181018;
  border-radius: 10px 10px;
}

/* Color palettes */
h6 {
  color: #0d0a0b;
  color: #454955;
  color: #f3eff5;
  color: #72b01d;
  color: #3f7d20;

  color: #040f0f;
  color: #248232;
  color: #2ba84a;
  color: #2d3a3a;
  color: #fcfffc;

  color: #181018;
  color: #04A246;
  color: #2F98BB;
  color: #F5FFF9;
  color: #F98F0E;
}
 