#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* body {
  background-image: url('https://static.clubs.nfl.com/image/private/t_new_photo_album/jets/qhsgjtl4udb0brklchxg.jpg');
  background-size: cover;
  background-position: 60% center;
} */

h1, h2, h3, h4, h5 {
  color: #F5FFF9;
}

img {
  max-width: 150px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0px; 
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #181018;
  border: 1px solid #F5FFF9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.account {
  min-height: fit-content;
}

.player-list {
  background-color: #181018;
  padding: 15px;
  margin: 15px;
}

.player-list-card {
  background-color: #04A246;
  border: 2px solid #F5FFF9;
  border-radius: 5%;
}

.player-detail {
  background-color: #04A246;
  border: 2px solid #F5FFF9;
  border-radius: 5%;
}

.player-detail-button-container {
  padding: 10px;
}

/* Color palettes */
h6 {
  color: #0d0a0b;
  color: #454955;
  color: #f3eff5;
  color: #72b01d;
  color: #3f7d20;

  color: #040f0f;
  color: #248232;
  color: #2ba84a;
  color: #2d3a3a;
  color: #fcfffc;

  color: #181018;
  color: #04A246;
  color: #2F98BB;
  color: #F5FFF9;
  color: #F98F0E;
}
 