#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #181018;
}

img {
  max-width: 150px;
}

.player-card {
  background-color: #04A246;
  border: 2px solid #F5FFF9;
  border-radius: 5%;
}

.player-detail {
  background-color: #04A246;
  border: 2px solid #F5FFF9;
  border-radius: 5%;
}

.player-detail-button-container {
  padding: 10px;
}

/* Color palettes */
h6 {
  color: #0d0a0b;
  color: #454955;
  color: #f3eff5;
  color: #72b01d;
  color: #3f7d20;

  color: #040f0f;
  color: #248232;
  color: #2ba84a;
  color: #2d3a3a;
  color: #fcfffc;

  color: #181018;
  color: #04A246;
  color: #2F98BB;
  color: #F5FFF9;
  color: #F98F0E;
}
 